.navbar{
    height: 50px;
    background-color: black;
    color: aliceblue;
}
.box{
    display: flex;
    justify-content: center;
}

.computer-image{
    height: 100px;
    width: 100px;
}

.computerROW{
    text-align: center;
}
.computerRight{
    text-align: right;
}
.computerButtonRight{
    text-align: right;
    float: right;
}
.computerLeft{
    text-align: left;
}
.getALoanButton{
    background-color: #48f1a0;
    border-color: #48f1a0;
    color: #01220b;
}
.getALoanButton:hover{
    background-color: #48f1a0;
    border-color: #48f1a0;
    color: #01220b;
}
.bankButton{
    background-color: #edef4c;
    border-color: #edef4c;
    color: #01220b;
}
.bankButton:hover{
    background-color: #edef4c;
    border-color: #edef4c;
    color: #01220b;
}
.workButton{
    background-color: #4d70f0;
    border-color: #4d70f0;
}
.workButton:hover{
    background-color: #4d70f0;
    border-color: #4d70f0;
}
.buyButton{
    background-color: #4bc9f1;
    border-color: #4bc9f1;
    color: #01220b;
    border-radius: 5px;
    border-color: #45add1;
}
.buyButton:hover{
    background-color: #4bc9f1;
    border-color: #4bc9f1;
    color: #01220b;
}
.custom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}